$bg-page: #e2e8f0;
$bg-folder: #f8fafc;
$bg-nav: #f8fafc;
$accent: #ABFFB6;
$text-main: #1e293b;
$text-dim: #64748b;
$border: #1e293b;
$radius: 12px;
$font-code: 'JetBrains Mono', monospace;
$icon-color: #1e293b;

$bg-page-dark: #0a0a0a;
$bg-folder-dark: #171717;
$bg-nav-dark: #171717;
$accent-dark: #22c55e;
$text-main-dark: #e5e5e5;
$text-dim-dark: #a3a3a3;
$border-dark: #e5e5e5;
$icon-color-dark: #ffffff;

$transition: background-color 0.5s cubic-bezier(0.4, 0, 0.2, 1), color 0.3s ease;

@mixin glassmorphism {
    background: var(--bg-folder);
    border: 2px solid var(--border);
    border-radius: $radius;
    box-shadow: 4px 4px 0px var(--border);
    transition: background-color 0.4s, border-color 0.4s, box-shadow 0.4s;
}
