@use '../../styles/variables' as *;

.sidebar {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.social-icon {
    aspect-ratio: 1;
    background: var(--bg-folder);
    border: 2px solid var(--border);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-main);
    text-decoration: none;
    box-shadow: 2.5px 2.5px 0px var(--border);
    transition: $transition;

    &:hover {
        transform: translate(-1.5px, -1.5px);
        background: var(--accent);
        color: #1e293b;
        box-shadow: 4px 4px 0px var(--border);
    }

    &:active {
        transform: translate(1.5px, 1.5px);
        box-shadow: 1px 1px 0px var(--border);
    }
}

