@use '../../styles/variables' as *;

.theme-toggle {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
    background: var(--bg-folder);
    border: 2px solid var(--border);
    border-radius: 10px;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 3px 3px 0px var(--border);
    color: var(--icon-color);
    transition: transform 0.2s, box-shadow 0.2s, background-color 0.4s, color 0.4s;

    &:hover {
        transform: translateY(-2px);
    }

    &:active {
        transform: translate(2px, 2px);
        box-shadow: 1px 1px 0px var(--border);
    }
}
