@use './styles/variables' as *;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&family=JetBrains+Mono:wght@500;700&display=swap');

:root {
    --bg-page: #{$bg-page};
    --bg-folder: #{$bg-folder};
    --bg-nav: #{$bg-nav};
    --accent: #{$accent};
    --text-main: #{$text-main};
    --text-dim: #{$text-dim};
    --border: #{$border};
    --icon-color: #{$icon-color};
}

[data-theme="dark"] {
    --bg-page: #{$bg-page-dark};
    --bg-folder: #{$bg-folder-dark};
    --bg-nav: #{$bg-nav-dark};
    --accent: #{$accent-dark};
    --text-main: #{$text-main-dark};
    --text-dim: #{$text-dim-dark};
    --border: #{$border-dark};
    --icon-color: #{$icon-color-dark};
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    background-color: var(--bg-page);
    color: var(--text-main);
    font-family: 'Inter', sans-serif;
    min-height: 100vh;
    overflow-x: hidden;
    transition: $transition;
}

body {
    padding: 60px 15px 20px;
}
